.main{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(186, 236, 236); */
}
.sub{
    width: 100%;
    height: 60vh;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub1{
    width: 100%;
    height: 60vh;
/* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

}
.sub2{
    width: 100%;
    height: 60vh;
/* background-color: darkseagreen; */
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.sb{
    width: 23%;
    height:55vh ;
    background-color: bisque;
}
.sb img{
    width: 100%;
    height: 30vh;
}
.sb h2{
    text-align: center;
}
.sb p{
    text-align: end;
}
.sb button{
    width: 50%;
    height: 6vh;
    font-size: 18px;
    /* margin: 25%; */
    /* Type let right top buttom */
    margin-left: 25%;
    background-color: rgb(80, 80, 236);
    color: white;
    border: none;
    /* padding: 20px; */
    
}

 /* .continer{

    width: 1000px;
    height: 500px;
    background-color: aquamarine;
    /* margin: 100px; */
    margin-top: 200px;
    margin-left: 300px;
    margin-bottom: 300px;

    /* padding: 100px; */
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-top: 200px;
 */ */