.king{
    width: 100%;
    background-color: antiquewhite;   
}
.king h1{
    color: blue;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;

}
.king p{
    color: black;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;    
    line-height: 30px;
}
.muju p{
    color: rgb(242, 240, 255);
    background-image: url(../Picture1/IMG_0027.JPG);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100% 100vh;
}
.kharmang{
width: 100%;
height: 100vh;
    background-image: url(../Picture1/IMG_0032.JPG);
    background-position: center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;

}
.kharmang p{
    width: 50%;
    height: 50vh;
    background-image: url(../University\ of\ Baltistan.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40% 40vh;

}
.kharmang h1{
    width: 50%;
    height: 50vh;
    background-image: url(../Picture1/IMG_0061.JPG);
    background-size: 40% 40vh;
    background-position: left;
    background-repeat: no-repeat;
}
.lion{
    width: 100%;
    height: 100vh;
    background-image: url(../Picture1/IMG_0047.JPG);
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;

}
.lion p{
    color: blue;
    line-height: 30px;
    text-align: justify;
    text-align: center;

}
.lion h1{
    color: rgb(0, 255, 17);
    line-height: 30px;
    text-align: justify;
    text-align: center;
    
}