        div
        
        {
            width: 500px;
            height: 510px;
            background-color: blueviolet;
        }
        #kharmang{
            width: 100%;
            height: 100px;
            background-color: thistle;
        }
        .muju{
            width: 500px;
            height: 500px;
            background-color: rgb(51, 0, 255);
        }
        #Muntazir{
            width: 400px;
            height: 300px;
            background-color: chartreuse;
        }
        .muju1{
            width: 300px;
            height: 400px;
            background-color: darkorange;
        }
        hr
                .muju1{
            width: 300px;
            height: 400px;
            background-color: darkorange;
        }

    
        
        #Muntazir1{
            width: 100%;
            height: 200px;
            background-color: gold;
        }
        #king{
            width: 300px;
            height: 100px;
            background-color: black;
        }
                .king1{
            width: 300px;
            height: 200px;
            background-color: darkmagenta;
                }